.about-intro{
    margin: 24px 0;
    text-align: justify;
    display: flex;
    gap: 50px;
}

.about-intro .image{
    width: 150%;
    margin: 0 24px;
    /* float: right; */
    height: auto;
}
.about-intro .image::before{
    /* background-image: url("../images/pictures/IMG_20200729_125357.jpg"); */
    background-image: url("../images/pictures/moi.jpg")
}
.about-intro .section-nav{
    text-align: center;
}

section#experience .experience-block{
    display: flex;
    flex-direction: column;
    /* gap: 32px; */
}

.work-block-nav{
    font-size: 24px;
    color: darkgray;
    text-align: center;
    justify-content: space-around;
}
.work-block-nav span:hover{
    color: white;
    cursor: pointer;
    transition: all .5s linear;
}
.work-block-nav span{
    margin: 0 16px;
}
.work-block-nav .active-link{
    color: whitesmoke;
    border-bottom: 3px solid steelblue;
    transition: all .5s linear;
}

.works .work-item{
    margin: 20px 0;
}

.apexcharts-tooltip{
    color: #575757;
}

.work-chart{
    transition: all .5s linear;
}

.cv-button{
    text-align: center;
}
.cv-button button,
input[type=submit]{
    color: rgba(225, 225, 225, .45);
    font-size: 24px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background .1s linear;
}
.cv-button button:hover{
    -webkit-text-fill-color: whitesmoke;
    background: steelblue;
}


@media(max-width: 1230px){
    .about-block .skill-name{
        text-align: center;
    }
    .about-intro{
        flex-direction: column;
    }
    .about-intro .image{
        width: 85%;
        height: 640px;
    }
}
@media(max-width: 425px){
    .about-intro .image{
        height: 360px;
    }
}