.contact-block{
    display: flex;
    justify-content: center;
}
.contact-form .contact-input{
    margin: 16px 0;
}
.contact-form label{
    display: block;
    color: #d6d6d6;
    font-weight: 500;
}
.contact-form input, textarea{
    border: 2px solid #595959;
    border-radius: 5px;
    background: none;
    margin: 5px 0;
    color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 600;
}
.contact-form input[type=text]{
    text-transform: capitalize;
}
.contact-form input[type=text]::placeholder{
    text-transform: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.contact-form input{
    height: 36px;
    width: 100%;
}
.contact-form textarea{
    height: 240px;
    width: 100%;
}