.contact-wrapper,
.webdev-wrapper,
.design-wrapper{
    display: none;
    text-align: center;
    position: fixed;
    inset: 0;
    background: #000000b9;
}
.webdev-wrapper,
.design-wrapper{
    align-items: center;
    z-index: 15;
}
.webdev-container,
.design-container{
    min-width: 60%;
    margin: auto;
    background: #272323;
    border-radius: 10px;
}
.webdev-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 35px;
}
.webdev-links :nth-child(3),
.webdev-links :nth-child(4){
    justify-self: self-end;
}
.webdev-links .webdev-item{
    position: relative;
    height: 140px;
    width: min-content;
}
.webdev-item img{
    width: 200px;
    transition: all .5s;
}
.webdev-item img.back{
    margin-right: -30px;
    margin-top: -150px;
}
.webdev-item img.front{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.webdev-item a:hover img.front{
    opacity: 1;
}
.full-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.full-display button{
    width: 25px;
    height: 75px;
    display: flex;
    align-items: center;
    border: 0.5px solid #ffffff09;
    color: #f2f2f2;
    transition: all .2s;
}
.full-display button:hover{
    background: #ffffff20;
    border-color: #ffffff23;
}
.full-img{
   max-height: 500px;
}
.thumb-bar img{
    height: 50px;
    cursor: pointer;
}
span.x{
    position: absolute;
    right: 0;
    margin: 0px 10px;
    cursor: pointer;
}
.contact-wrapper span{
    margin: 0 10px;
}
.contact-links{
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 30%;
    border-radius: 10px;
    color: black;
}