.project-block{
    display: flex;
    justify-content: space-evenly;
}
.project-block div{
    margin: 0 !important;
    text-align: center;
}
.project-block button{
    width: 200px;
    height: 200px;
    border-radius: 80px;
    background: #fff;
    color: #000;
}
.project-block div span{
    display: block;
    padding: 10px 0px;
}
.project-block button svg{
    width: 70px;
    height: 70px;
}