section#works{
    align-items: self-start;
}
section#works .works-block .work-block-nav{
    text-align: left;
}
.skillset-block-work{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: unset;
}
.skillset-block-work .skill-card{
    width: inherit;
    height: inherit;
    border-radius: 0;
}

.show-grid{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 28px;
    /* flex-flow: row wrap; */
    margin-top: 50px;
}
.show-grid>*{
    display: flex;
    flex-flow: column;
    gap: 28px;
    /* flex: 1 1 475.25px; */
}
.work-image{
    position: relative;
    width: 100%;
    height: min-content;
    cursor: pointer;
}
@keyframes visibility{
    0% {opacity: 1}
    1% {opacity: 0}
}
.work-image:hover .img-des{
    visibility: visible;
    animation: visibility .5s ease-in;
}
/* .work-image:hover .img-group .second-image{
    z-index: 1;
} */

.work-image .img-des{
    position: absolute;
    inset: 0;
    background: #0000008e;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    visibility: hidden;
    transition: all .3s ease-in-out;
    z-index: 5;
}
.work-image .img-des .img-title{
    font-size: 40px;
    font-weight: 500;
}
.work-image .img-des .img-cat{
    font-size: 24px;
    font-weight: 300;
}
.work-image .img-group{
    position: relative;
    transition: all .5s linear;
}
.work-image .img-group .second-image{
    display: none;
    /* position: absolute;
    inset: 0;
    height: 100%;
    z-index: -1;
    transition: z-index 1.5s; */
}
.img-group img{
    width: 100%;
    height: auto;
}
.work-image.design .img-group img{
    width: 100%;
    height: auto;
    /* max-height: 560px; */
}
.view-end-text{
    font-size: 20px;
    text-align: center;
    margin: 32px auto;
    background-image: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.65));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.view-modal{
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
    flex-wrap: wrap;
    padding: 24px 0px;
    display: none;
    justify-content: center;
    background: rgba(0,0,0,0.85);
    gap: 32px;
    transition: display .5s ease-in-out;
}
.view-modal img{
    height: 100%;
}
.view-modal .close-btn{
    font-size: 32px;
    font-weight: 600;
    height: fit-content;
    padding: 0px 12px 8px 12px;
    border: 3.5px solid;
    border-radius: 100%;
    background: rgba(225,225,225,0.15);
    cursor: pointer;
}

@media(max-width: 425px){
    .show-grid{
        flex-flow: column;
    }
}